.my-repositories-list-active {
    display: block;
    width: 116px;
    height: 43px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
    margin-bottom: 0px;
    width: 956px;
    margin: 0 auto;
    max-width: 100%;
    margin-top: 35px;
}